
body{
  background-color: #282c34;
  color: rgb(243, 243, 243);  /* Texto em tom claro */
}


/* Remove qualquer padding que possa criar espaçamento indesejado */
.app-container {
  
  margin: 0 auto; /* Centraliza */
  padding: 0; /* Remove padding para evitar espaçamento extra */
}