/* estilos gerais */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    background: #1a1a1a;
    color: white;
  }
  

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo img {
    height: 55px;
  }
  
  
  /* menu desktop */
  .nav-desktop ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
  
  .nav-desktop a {
    color: white;
    text-decoration: none;
  }
  
  /* botão hamburger (esconde no desktop) */
  .hamburger {
    font-size: 1.5rem;
    background: transparent;
    border: none;
    color: white;
    display: none;
    cursor: pointer;
  }
  
  /* sidebar off-canvas (mobile) */
  .sidebar {
    position: fixed;
    top: 0;
    left: -550px;
    width: 250px;
    height: 100%;
    background: #000000;
    color: white;
    padding: 1rem;
    transition: left 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .close-btn {
    font-size: 2rem;
    background: transparent;
    border: none;
    color: white;
    float: right;
    cursor: pointer;
  }
  
  .nav-mobile ul {
    list-style: none;
    padding: 2rem 0 0;
  }
  
  .nav-mobile li {
    margin: 1rem 0;
  }
  
  .nav-mobile a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  /* media query para mobile */
  @media (max-width: 768px) {
    .nav-desktop {
      display: none;
    }
    .hamburger {
      display: block;
    }

    .header {
        height: 50px;
      }
      .logo img {
        height: 48px;
      }
    
    
  }
  